<!-- FOOTER -->
<footer class="page-footer font-small blue">
    <div class="container">
        <div class="footer-copyright text-center py-3">All articles belong to Mac World © 2019 Copyright:
            <a href="https://www.macworld.com"> MacWorld</a>
        </div>
    </div>
</footer>