<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
    MacWorld Scraper
  </a>
  <ul class="right">
      <li><a href="/scrape">Scrape</a></li>
      <li><a href="https://krismoosevisual.github.io/MacWorldScrape/" target="_blank"></a></li>
  </ul>
</nav>